################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/DownloadManagerInstaller/v17/
/.vs/DownloadManagerInstaller/FileContentIndex
/obj/
/.vs/DownloadManagerInstaller/FileContentIndex/32c41d05-7682-4581-98bb-feb6ab9b9dd6.vsidx
/.vs/DownloadManagerInstaller/FileContentIndex/read.lock
/.vs/DownloadManagerInstaller/v17/.futdcache.v2
/.vs/DownloadManagerInstaller/v17/.suo
/obj/Debug/net6.0-windows/DownloadManagerInstaller.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/apphost.exe
/obj/Debug/net6.0-windows/DownloadManagerInstaller.assets.cache
/obj/Debug/net6.0-windows/DownloadManagerInstaller.csproj.AssemblyReference.cache
/obj/Debug/net6.0-windows/DownloadManagerInstaller.csproj.ResolveComReference.cache
/obj/Debug/net6.0-windows/DownloadManagerInstaller.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/Interop.IWshRuntimeLibrary.dll
/obj/DownloadManagerInstaller.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/DownloadManagerInstaller.csproj.nuget.g.props
/obj/Debug/net6.0-windows/ref/DownloadManagerInstaller.dll
/obj/Debug/net6.0-windows/DownloadManagerInstaller.AssemblyInfo.cs
/obj/Debug/net6.0-windows/DownloadManagerInstaller.genruntimeconfig.cache
/obj/Debug/net6.0-windows/DownloadManagerInstaller.pdb
/obj/Debug/net6.0-windows/DownloadManagerInstaller.dll
/obj/Debug/net6.0-windows/DownloadManagerInstaller.csproj.FileListAbsolute.txt
/obj/Debug/net6.0-windows/refint/DownloadManagerInstaller.dll
/obj/Debug/net6.0-windows/DownloadManagerInstaller.csproj.CoreCompileInputs.cache
/.vs/ProjectEvaluation/downloadmanagerinstaller.metadata.v2
/.vs/ProjectEvaluation/downloadmanagerinstaller.metadata.v5.2
/.vs/ProjectEvaluation/downloadmanagerinstaller.projects.v2
/.vs/ProjectEvaluation/downloadmanagerinstaller.projects.v5.2
/bin/Debug/net6.0-windows/DownloadManagerInstaller.exe
/bin/Debug/net6.0-windows/DownloadManagerInstaller.pdb
/bin/Debug/net6.0-windows/DownloadManagerInstaller.dll
/obj/Debug/net6.0-windows/DownloadManagerInstaller.Properties.Resources.resources
/obj/Debug/net6.0-windows/DownloadManagerInstaller.csproj.GenerateResource.cache
/bin/Debug/net8.0-windows7.0/DownloadManagerInstaller.dll
/bin/Debug/net8.0-windows7.0/DownloadManagerInstaller.exe
/bin/Debug/net8.0-windows7.0/DownloadManagerInstaller.pdb
