################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/DownloadManagerInstaller/v17/
/.vs/DownloadManagerInstaller/FileContentIndex
/obj/
/.vs/DownloadManagerInstaller/FileContentIndex/32c41d05-7682-4581-98bb-feb6ab9b9dd6.vsidx
